# OBJECTIVE:
Predict the carbon emissions and energy consumption. 

# KEY FEATURES:

*   ***Entity:*** The name of the country or region for which the data is reported (RELEVANT TO THE INVESTIGATION).

*   ***Year:*** The year for which the data is reported, ranging from 2000 to 2020 (RELEVANT TO THE INVESTIGATION).

*   ***Access to electricity (% of population):*** The percentage of population with access to electricity (RELEVANT TO THE ELECTRICITY FORCASTING).

*   ***Access to clean fuels for cooking (% of population):*** The percentage of the population with primary reliance on clean fuels (RELEVANT TO THE INVESTIGATION).

*   ***Renewable-electricity-generating-capacity-per-capita:*** Installed Renewable energy capacity per person

*   ***Financial flows to developing countries (US $):*** Aid and assistance from developed countries for clean energy projects.

*   ***Renewable energy share in total final energy consumption (%):*** Percentage of renewable energy in final energy consumption.

*   ***Electricity from fossil fuels (TWh):*** Electricity generated from fossil fuels (coal, oil, gas) in terawatt-hours.

*   ***Electricity from nuclear (TWh):*** Electricity generated from nuclear power in terawatt-hours.

*   ***Electricity from renewables (TWh):*** Electricity generated from renewable sources (hydro, solar, wind, etc.) in terawatt-hours.

*   ***Low-carbon electricity (% electricity):*** Percentage of electricity from low-carbon sources (nuclear and renewables).

*   ***Primary energy consumption per capita (kWh/person) -- (TARGET):*** Energy consumption per person in kilowatt-hours.

*   ***Energy intensity level of primary energy (MJ/$2011 PPP GDP):*** Energy use per unit of GDP at purchasing power parity.

*   ***Value_co2_emissions (metric tons per capita) -- (TARGET):*** Carbon dioxide emissions per person in metric tons.

*   ***Renewables (% equivalent primary energy):*** Equivalent primary energy that is derived from renewable sources.

*   ***GDP growth (annual %):*** Annual GDP growth rate based on constant local currency.

*   ***GDP per capita:*** Gross domestic product per person.

*   ***Density (P/Km2):*** Population density in persons per square kilometer.

*   ***Land Area (Km2):*** Total land area in square kilometers.

*   ***Latitude:*** Latitude of the country's centroid in decimal degrees.

*   ***Longitude:*** Longitude of the country's centroid in decimal degrees.

##### NOTE: In parentesis and mayus, we have the variable importance for our investigation (2 targets).

In [6]:
# LIBRARIES:
import pandas as pd
import numpy as np

# IMPUTERS:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

# SHOWCASTING THE DATA:
pd.set_option("display.max_column", None)

# TIME SERIES MODELS:
from statsmodels.tsa.statespace.varmax import VARMAX
from statsmodels.tsa.api import VAR
from statsmodels.tsa.stattools import grangercausalitytests, adfuller

# GRAPHS:
import matplotlib.pyplot as plt

# ENCODERS:
from sklearn.preprocessing import LabelEncoder

In [2]:
# FUNTIONS:

def NaNs_calculator(data):
    
    '''SHOWING THE STATS OF MISSING DATA AND DATA TYPE'''

    percentage_missing = (data.isna().mean()*100).sort_values(ascending = False)        # Storing the Percentages of NaNs
    sum_missing = data.isna().sum().sort_values(ascending = False)                      # Storing the Sum of NaNs
    names = sum_missing.index.to_list()                                                 # Storing names (to show in the columns)
    data_type = data[names].dtypes                                                      # Storing the type of data based on the order from the previous obtained data (slicing)
    sum_values = sum_missing.to_list()                                                  # Getting count of missing values
    perc_values = np.around(percentage_missing.to_list(), 3)                            # Getting percentage of missing values
    types = data_type.to_list()                                                         # Getting the types of the data
    # TURN ALL THE DATA INTO A DATAFRAME
    df_missing = pd.DataFrame({"NAMES" : names,                                         
                                    "VALUE COUNT" : sum_values,
                                    "PERCENTAGE (%)" : perc_values,
                                    "DATA TYPE": types})
    return df_missing


def drawing(data, energy_country):
    
    """PLOTTING WITH A FOR LOOP"""
    # plt.figure(figsize=(12, 80))
    # plt.subplot(22, 2, 1)
    # drawing(data[0])

    # Iterate over unique countries and plot their time series    
    for country in data:
        plt.plot(energy_country.loc[energy_country['Entity'] == country].index, energy_country.loc[energy_country['Entity'] == country]['TARGET_1_PRIMARY_ENERGY_CONSUMPTION_PER_CAPITA_(KWH/PERSON)'], label=country)
    
    plt.xlabel('Year')
    plt.ylabel('Energy Consumption per country')
    plt.title('Energy Consumption Over Time (2000-2020)')
    plt.legend(bbox_to_anchor=(1, 1), loc='upper left')
    plt.grid()
    plt.tight_layout()


def data_slicing(data, chunk_number):
    """THIS FUNCTION WILL SLICE THE DATA FRAME INTO SMALER PIECES. FOR EXAMPLE, PASSING THE COUNTRIES IN WILL PROVIDE THE LABELS FOR YOUR GRAPHS"""
    
    # EXTRACTING THE CHUCKS
    segment_numbers = int(len(data)/chunk_number)           # for example a chunk_number of 4 will give 4 segments of 44 rows per chunk. 
    sliced_df = []                                          # Stored chunks
    segment = None                                          # to store the slice 

    for chunk in range(0, len(data), segment_numbers):
        segment = data[chunk:chunk + segment_numbers]       # Start index to the end
        sliced_df.append(segment)                           # Storing the segment

    return sliced_df

In [19]:
# IMPORTING DATA:
df = pd.read_csv(r"/Users/alberto/Desktop/PROJECTS/ML on Cloud/global-data-on-sustainable-energy.csv")
df.head()

,Entity,Year,Access to electricity (% of population),Access to clean fuels for cooking,Renewable-electricity-generating-capacity-per-capita,Financial flows to developing countries (US $),Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),Low-carbon electricity (% electricity),Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Value_co2_emissions_kt_by_country,Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
0,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,65.957440,302.59482,1.64,760.000000,NaN,NaN,NaN,60,"6,52,230",33.93911,67.709953
1,Afghanistan,2001,4.074574,7.2,8.86,130000.0,45.60,0.09,0.0,0.50,84.745766,236.89185,1.74,730.000000,NaN,NaN,NaN,60,"6,52,230",33.93911,67.709953
2,Afghanistan,2002,9.409158,8.2,8.47,3950000.0,37.83,0.13,0.0,0.56,81.159424,210.86215,1.40,1029.999971,NaN,NaN,179.426579,60,"6,52,230",33.93911,67.709953
3,Afghanistan,2003,14.738506,9.5,8.09,25970000.0,36.66,0.31,0.0,0.63,67.021280,229.96822,1.40,1220.000029,NaN,8.832278,190.683814,60,"6,52,230",33.93911,67.709953
4,Afghanistan,2004,20.064968,10.9,7.75,NaN,44.24,0.33,0.0,0.56,62.921350,204.23125,1.20,1029.999971,NaN,1.414118,211.382074,60,"6,52,230",33.93911,67.709953

# FORMATTING DATA:
To avoid error when handling the data in columns,a common format is applied here:

In [20]:
# FORMATTING THE COLUMN NAMES SO IT IS EASIER TO HANDLE THEM (PUTTING THE '_' ON ANY SPACE):
for x in list(df.columns):
    # TESTING STORING AND CHANGING NAMES ACCORDINGLY:
    if(x == "Value_co2_emissions_kt_by_country"):
        name = x.replace("Value_co2_emissions_kt_by_country", "TARGET_2_VALUE_CO2_EMISSIONS_PER_COUNTRY")
        df.rename(columns={x: name}, inplace=True)
    elif(x == "Primary energy consumption per capita (kWh/person)"):
        name = x.replace("Primary energy consumption per capita (kWh/person)", "TARGET_1_PRIMARY_ENERGY_CONSUMPTION_PER_CAPITA_(KWH/PERSON)")
        df.rename(columns={x: name}, inplace=True)
    else:
        if(" " in x):
            name = x.replace(" ", '_')                  
        elif("-" in x):
            name = x.replace("-", '_')                  
        elif("\\n" in x):
            name = x.replace("\\n", '_')
        else:
            name = x                  
        df.rename(columns={x: name.title()}, inplace=True)  # Setting the new name to the column
    name = ''
df.head()

,Entity,Year,Access_To_Electricity_(%_Of_Population),Access_To_Clean_Fuels_For_Cooking,Renewable_Electricity_Generating_Capacity_Per_Capita,Financial_Flows_To_Developing_Countries_(Us_$),Renewable_Energy_Share_In_The_Total_Final_Energy_Consumption_(%),Electricity_From_Fossil_Fuels_(Twh),Electricity_From_Nuclear_(Twh),Electricity_From_Renewables_(Twh),Low-Carbon_Electricity_(%_Electricity),TARGET_1_PRIMARY_ENERGY_CONSUMPTION_PER_CAPITA_(KWH/PERSON),Energy_Intensity_Level_Of_Primary_Energy_(Mj/$2017_Ppp_Gdp),TARGET_2_VALUE_CO2_EMISSIONS_PER_COUNTRY,Renewables_(%_Equivalent_Primary_Energy),Gdp_Growth,Gdp_Per_Capita,Density_(P/Km2),Land_Area(Km2),Latitude,Longitude
0,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,65.957440,302.59482,1.64,760.000000,NaN,NaN,NaN,60,"6,52,230",33.93911,67.709953
1,Afghanistan,2001,4.074574,7.2,8.86,130000.0,45.60,0.09,0.0,0.50,84.745766,236.89185,1.74,730.000000,NaN,NaN,NaN,60,"6,52,230",33.93911,67.709953
2,Afghanistan,2002,9.409158,8.2,8.47,3950000.0,37.83,0.13,0.0,0.56,81.159424,210.86215,1.40,1029.999971,NaN,NaN,179.426579,60,"6,52,230",33.93911,67.709953
3,Afghanistan,2003,14.738506,9.5,8.09,25970000.0,36.66,0.31,0.0,0.63,67.021280,229.96822,1.40,1220.000029,NaN,8.832278,190.683814,60,"6,52,230",33.93911,67.709953
4,Afghanistan,2004,20.064968,10.9,7.75,NaN,44.24,0.33,0.0,0.56,62.921350,204.23125,1.20,1029.999971,NaN,1.414118,211.382074,60,"6,52,230",33.93911,67.709953

In [7]:

# # Assuming df is your DataFrame with columns 'Col1', 'Col2', and 'Date'
# print(type(df['Year'].dtypes))
# # Convert 'Date' column to datetime
# year = pd.to_datetime(df['Year'], yearfirst=True)

# # Set the frequency (if applicable)
# # df['Year'] = pd.date_range(start=df['Year'].min(), end=df['Year'].max(), freq='YE')  # Replace 'D' with the appropriate frequency
# year
# # # Set 'Date' column as the index
# # df.set_index('Date', inplace=True)

# # # Now, your DataFrame is properly indexed with datetime values and optionally set with a frequency
v = pd.to_datetime(df['Date'], format='YE')

NameError: name 'df' is not defined

In [5]:
# SIZE OF THE DATA:
print(f'The number of rows is: {df.shape[0]}')
print(f'The number of columns is: {df.shape[1]}')

The number of rows is: 3649
The number of columns is: 20

# CHECKING AND HANDLING MISSING VALUES AND DATA TYPE:

In [6]:
# MISSING DATA ON THE DATASET (TOTAL): (This goes before the describe)
df_missing_values = NaNs_calculator(df)
df_missing_values

,NAMES,VALUE COUNT,PERCENTAGE (%),DATA TYPE
0,Renewables_(%_Equivalent_Primary_Energy),2137,58.564,float64
1,Financial_Flows_To_Developing_Countries_(Us_$),2089,57.249,float64
2,Renewable_Electricity_Generating_Capacity_Per_...,931,25.514,float64
3,TARGET_2_VALUE_CO2_EMISSIONS_PER_COUNTRY,428,11.729,float64
4,Gdp_Growth,317,8.687,float64
5,Gdp_Per_Capita,282,7.728,float64
6,Energy_Intensity_Level_Of_Primary_Energy_(Mj/$...,207,5.673,float64
7,Renewable_Energy_Share_In_The_Total_Final_Ener...,194,5.317,float64
8,Access_To_Clean_Fuels_For_Cooking,169,4.631,float64
9,Electricity_From_Nuclear_(Twh),126,3.453,float64
10,Low-Carbon_Electricity_(%_Electricity),42,1.151,float64
11,Electricity_From_Fossil_Fuels_(Twh),21,0.576,float64
12,Electricity_From_Renewables_(Twh),21,0.576,float64
13,Access_To_Electricity_(%_Of_Population),10,0.274,float64
14,Latitude,1,0.027,float64
15,Density_(P/Km2),1,0.027,object
16,Longitude,1,0.027,float64
17,Land_Area(Km2),1,0.027,object
18,Entity,0,0.000,object
19,TARGET_1_PRIMARY_ENERGY_CONSUMPTION_PER_CAPITA...,0,0.000,float64

As it can be seen here, there are three variables that are not numbers (Density (P/Km2), Land Area(Km2) and Entity), where two of them are numeric features appears.  The formatting can be devided into four scenarios initially. Later on, based on analysis we can determine what else to do: 

1. Due to a high proportion of missing values (exceeding 20%) in the initial three columns, it becomes challenging to effectively impute them. Therefore, a practical approach would be to discard these columns and proceed with the remaining ones (PENDING TO SEE THE DOMAIN KNOWLEDGE...).

    1.1. Drop the entire column (Drop the columns with more than 20% of missing data)
    
    1.2. Handle the NaNs (drop nas)

2. The other columns need to be parsed into numbers (they are, but for some reason they show as strings).

3. Entity can be handled later on before the model is trained. It is not a variable that affects the initial analysis. In fact, it helps since it shows the Country to be predicted.

NOTE TO MYSELF:

HANDLING THIS LATER ON. CHECKING IF WE DO THE IMPUTE BASED ON HISTORY OR DROP THE COLUMNS WITH A TONS OF NANs

In [7]:
# THESE ARE THE COLUMNS THAT REPORT A HIGH LEVEL OF NANs, WHICH MEANS, THE ONE TO DROP:
print(f'THESE ARE THE COLUMNS THAT REPORT A HIGH LEVEL OF NaNs, WHICH MEANS, THE ONE TO DROP:\n')
df_missing_values[df_missing_values["PERCENTAGE (%)"] > 20]

THESE ARE THE COLUMNS THAT REPORT A HIGH LEVEL OF NaNs, WHICH MEANS, THE ONE TO DROP:

,NAMES,VALUE COUNT,PERCENTAGE (%),DATA TYPE
0,Renewables_(%_Equivalent_Primary_Energy),2137,58.564,float64
1,Financial_Flows_To_Developing_Countries_(Us_$),2089,57.249,float64
2,Renewable_Electricity_Generating_Capacity_Per_...,931,25.514,float64

In [8]:
# TAKING DOWN THE COLUMNS THAT HAVE A LOT OF MISSING VALUES:
names_todelete = df_missing_values[df_missing_values["PERCENTAGE (%)"] > 20]["NAMES"].tolist()      # Getting the names
print("Printing the columns to delete. Removing the ones that have a higher level of missing data, besides, other than, after investigation, I determined doesn't have to do with our investigation that much, such as:")
print(names_todelete)
# In addition, we can get rid of the columns that are less relevant (for now) to our investigation. Longitud and latitud are not useful for the investigation at the moment.
# print("Besides the NaNs, there are other variables that at first sight, don't add up to the investigation. We can see them in the following list:")
print("\n1. gdp_growth.\n2. gdp_per_capita.\n3. Energy intensity level of primary energy (MJ/$2017 PPP GDP\n4. Latitude.\n5. Longitude.")
names_todelete.append("Gdp_Growth")
names_todelete.append("Gdp_Per_Capita")
names_todelete.append("Energy_Intensity_Level_Of_Primary_Energy_(Mj/$2017_Ppp_Gdp)")
names_todelete.append("Latitude")
names_todelete.append("Longitude")
# DROPPING COLUMNS:
print(f'\nNumber of columns before dropping: {len(df.columns)}')
filter_df = df.drop(names_todelete, axis=1)                                                         # to keep original data frame as it is.
# filter_df = 
print(f'Number of columns after droping: {len(filter_df.columns)}')
NaNs_calculator(filter_df)
# # HANDLING THIS LATER ON. CHECKING IF WE DO THE IMPUTE BASED ON HISTORY OR DROP THE COLUMNS WITH A TONS OF NAN
# entity = df.groupby("Entity")
# entity.get_group("Afghanistan") # This is to filter the things I want. I will show only the afganistan info
# df[["Entity", "Renewables (% equivalent primary energy)"]] # done it in another way
# df["Entity"].unique()
# # LET'S DELETE IT AND AFTER THAT, IMPUTE THEM

Printing the columns to delete. Removing the ones that have a higher level of missing data, besides, other than, after investigation, I determined doesn't have to do with our investigation that much, such as:
['Renewables_(%_Equivalent_Primary_Energy)', 'Financial_Flows_To_Developing_Countries_(Us_$)', 'Renewable_Electricity_Generating_Capacity_Per_Capita']

1. gdp_growth.
2. gdp_per_capita.
3. Energy intensity level of primary energy (MJ/$2017 PPP GDP
4. Latitude.
5. Longitude.

Number of columns before dropping: 20
Number of columns after droping: 12

,NAMES,VALUE COUNT,PERCENTAGE (%),DATA TYPE
0,TARGET_2_VALUE_CO2_EMISSIONS_PER_COUNTRY,428,11.729,float64
1,Renewable_Energy_Share_In_The_Total_Final_Ener...,194,5.317,float64
2,Access_To_Clean_Fuels_For_Cooking,169,4.631,float64
3,Electricity_From_Nuclear_(Twh),126,3.453,float64
4,Low-Carbon_Electricity_(%_Electricity),42,1.151,float64
5,Electricity_From_Fossil_Fuels_(Twh),21,0.576,float64
6,Electricity_From_Renewables_(Twh),21,0.576,float64
7,Access_To_Electricity_(%_Of_Population),10,0.274,float64
8,Land_Area(Km2),1,0.027,object
9,Density_(P/Km2),1,0.027,object
10,Entity,0,0.000,object
11,TARGET_1_PRIMARY_ENERGY_CONSUMPTION_PER_CAPITA...,0,0.000,float64

To impute the rest of the values, we need to convert non numerical columns used in the analysis into numbers:

In [9]:
# BEFORE IMPUTING, LET MAKE THE CONVERSION: PARSING COLUMNS TO NUMBERS Density (P/Km2) and Land Area(Km2):

# BEFORE CONVERSTION:
print(f'Checking the data before the conversion:\n')
print(f'{filter_df[['Density_(P/Km2)','Land_Area(Km2)']].dtypes}')

# CONVERSION:
# Case 1: Density (P/Km2) got a weird format (12,46,700). Removing just the commas to parse it into a number.
filter_df[['Density_(P/Km2)','Land_Area(Km2)']] = filter_df[['Density_(P/Km2)','Land_Area(Km2)']].apply(lambda x:(x.str.replace(',', '')))
# Case 2: Parsing it into a number:
filter_df[['Density_(P/Km2)','Land_Area(Km2)']] = filter_df[['Density_(P/Km2)','Land_Area(Km2)']].apply(pd.to_numeric)

# AFTER CONVERSTION:
print(f'\nChecking the data after the conversion:\n')
print(f'{filter_df[['Density_(P/Km2)','Land_Area(Km2)']].dtypes}')

Checking the data before the conversion:

Density_(P/Km2)    object
Land_Area(Km2)     object
dtype: object

Checking the data after the conversion:

Density_(P/Km2)    float64
Land_Area(Km2)     float64
dtype: object

In [10]:
# IMPUTING VALUES WITH THE IMPUTER: GETTING THE COLUMNS WHERE WE WANT TO IMPUTE (NOT THE ONE WITH ZERO NaNs):
to_impute = NaNs_calculator(filter_df)                                              # Basically, I am calling again the data frame to filter it
names_to_impute = to_impute[to_impute["PERCENTAGE (%)"] > 0]["NAMES"].tolist()      # Leaving out the columns that got no NaNs
col = filter_df[names_to_impute]                                                    # Selecting only the column names to be imputed
col
# IMPUTING:
imputer = IterativeImputer(max_iter=10, random_state=0)                             # instantiating the imputer
imputed_col = imputer.fit_transform(col)                                            # Fitting the new data to the columns
filter_df[names_to_impute] = imputed_col                                            # Replace the imputed values back into the original DataFrame
print(f'Number of columns after cleaning: {len(filter_df.columns)}')                                                        # Checking the data

Number of columns after cleaning: 12

In [11]:
NaNs_calculator(filter_df)

,NAMES,VALUE COUNT,PERCENTAGE (%),DATA TYPE
0,Entity,0,0.0,object
1,Access_To_Electricity_(%_Of_Population),0,0.0,float64
2,Access_To_Clean_Fuels_For_Cooking,0,0.0,float64
3,Renewable_Energy_Share_In_The_Total_Final_Ener...,0,0.0,float64
4,Electricity_From_Fossil_Fuels_(Twh),0,0.0,float64
5,Electricity_From_Nuclear_(Twh),0,0.0,float64
6,Electricity_From_Renewables_(Twh),0,0.0,float64
7,Low-Carbon_Electricity_(%_Electricity),0,0.0,float64
8,TARGET_1_PRIMARY_ENERGY_CONSUMPTION_PER_CAPITA...,0,0.0,float64
9,TARGET_2_VALUE_CO2_EMISSIONS_PER_COUNTRY,0,0.0,float64
10,Density_(P/Km2),0,0.0,float64
11,Land_Area(Km2),0,0.0,float64

In [12]:
# SHOWING THE DATA SET AGAIN:
filter_df.head(10)

,Entity,Access_To_Electricity_(%_Of_Population),Access_To_Clean_Fuels_For_Cooking,Renewable_Energy_Share_In_The_Total_Final_Energy_Consumption_(%),Electricity_From_Fossil_Fuels_(Twh),Electricity_From_Nuclear_(Twh),Electricity_From_Renewables_(Twh),Low-Carbon_Electricity_(%_Electricity),TARGET_1_PRIMARY_ENERGY_CONSUMPTION_PER_CAPITA_(KWH/PERSON),TARGET_2_VALUE_CO2_EMISSIONS_PER_COUNTRY,Density_(P/Km2),Land_Area(Km2)
Year,,,,,,,,,,,,
2000-01-01,Afghanistan,1.613591,6.20,44.99,0.16,0.0,0.31,65.957440,302.59482,760.000000,60.0,652230.0
2001-01-01,Afghanistan,4.074574,7.20,45.60,0.09,0.0,0.50,84.745766,236.89185,730.000000,60.0,652230.0
2002-01-01,Afghanistan,9.409158,8.20,37.83,0.13,0.0,0.56,81.159424,210.86215,1029.999971,60.0,652230.0
2003-01-01,Afghanistan,14.738506,9.50,36.66,0.31,0.0,0.63,67.021280,229.96822,1220.000029,60.0,652230.0
2004-01-01,Afghanistan,20.064968,10.90,44.24,0.33,0.0,0.56,62.921350,204.23125,1029.999971,60.0,652230.0
2005-01-01,Afghanistan,25.390894,12.20,33.88,0.34,0.0,0.59,63.440857,252.06912,1549.999952,60.0,652230.0
2006-01-01,Afghanistan,30.718690,13.85,31.89,0.20,0.0,0.64,76.190475,304.42090,1759.999990,60.0,652230.0
2007-01-01,Afghanistan,36.051010,15.30,28.78,0.20,0.0,0.75,78.947370,354.27990,1769.999981,60.0,652230.0
2008-01-01,Afghanistan,42.400000,16.70,21.17,0.19,0.0,0.54,73.972600,607.83350,3559.999943,60.0,652230.0
2009-01-01,Afghanistan,46.740050,18.40,16.53,0.16,0.0,0.78,82.978720,975.04816,4880.000114,60.0,652230.0

In [ ]:
# CHECKING THE DATA STATISTIC OF THE DATA: (This goes after we remove the NaN values)
filter_df.describe().transpose()''

# PLOTTING THE ENERGY CONSUMPTION PER COUNTRY:

In [ ]:
%%time
# PLOTTING THE TREND OF ENERGY CONSUMPTION PER COUNTRY
# Let's slice the graphs

energy_country = filter_df[['Entity', 'TARGET_1_PRIMARY_ENERGY_CONSUMPTION_PER_CAPITA_(KWH/PERSON)']]   # Enerigy consumption per country
data = data_slicing(energy_country['Entity'].unique(), 44)                                              # Passing only the countries to plot the trend afterwards (10 countries per graph)
total_graphs = len(data)                                                                                # Define the total number of graphs and the number of columns
num_columns = 2                                                                                         # Defining the nnumber of columns
num_rows = (total_graphs + num_columns - 1) // num_columns                                              # Calculate the number of rows needed
fig, axes = plt.subplots(num_rows, num_columns, figsize=(15,80))                                        # Create the subplot grid
axes = axes.flatten()                                                                                   # Flatten the axes array for easier iteration (2D)

# Iterate over each graph and plot it in the corresponding subplot
for i, c in enumerate(data):
    ax = axes[i]
    drawing(c, energy_country)
    plt.sca(ax)                                                                                         # Set the current axis to the current subplot

# Hide any unused subplots
for ax in axes[total_graphs:]:
    ax.axis('off')

plt.tight_layout()
plt.show()

# need the same thing for the Co2

As we can see in the plots, there are some marked trends and seasonalities that makes the Time series not to be stationary. It is recommendable to work with stationaries Time series. On the other hand, we need to use a more robust way of checking the stationarity of a Time series. For this, we are going to uuse the test ***Augmented Dickey-Fuller test (ADF Test)***.

Without entering in details on the math considerations, we need to have 2 things into consideration:
    
    1. The ADF Statistics.
    2. The p_value which in turn has to be less than 0.05 (5%).

# VERIFYING THE STATIONARITY OF THE TIME SERIES:

Since we have two variables, then, I will run the test for the targets only (those are the ones I want to calculate) Co2 and Energy consumption per country.

In [ ]:
# ENERGY:
ad_fuller_EC = adfuller(filter_df['TARGET_1_PRIMARY_ENERGY_CONSUMPTION_PER_CAPITA_(KWH/PERSON)'])
print("ADF test for TARGET_1_PRIMARY_ENERGY_CONSUMPTION_PER_CAPITA_(KWH/PERSON):\n")
print(f"\t1. ADF Statistic: {ad_fuller_EC[0]}")
print(f'\t2. P-value: {ad_fuller_EC[1]}\n')

# CO2:
ad_fuller_CO2 = adfuller(filter_df['TARGET_2_VALUE_CO2_EMISSIONS_PER_COUNTRY'])
print("ADF test for TARGET_2_VALUE_CO2_EMISSIONS_PER_COUNTRY:\n")
print(f"\t1. ADF Statistic: {ad_fuller_CO2[0]}")
print(f'\t2. P-value: {ad_fuller_CO2[1]}\n')

As we can see here, the test is showing us a p-value greater than 0.05 in both cases, which means the series is not stationary.
Let's try to make it stationary.

In [ ]:
# IN THIS CASE, WE ARE GOING TO USE .diff BUT LATER ON, WE CAN CHECK WHAT ELSE WE CAN USE.

# ENERGY:
ad_fuller_EC = adfuller(filter_df['TARGET_1_PRIMARY_ENERGY_CONSUMPTION_PER_CAPITA_(KWH/PERSON)'].diff()[1:])
print("ADF test for TARGET_1_PRIMARY_ENERGY_CONSUMPTION_PER_CAPITA_(KWH/PERSON):\n")
print(f"\t1. ADF Statistic: {ad_fuller_EC[0]}")
print(f'\t2. P-value: {ad_fuller_EC[1]}\n')

# CO2:
ad_fuller_CO2 = adfuller(filter_df['TARGET_2_VALUE_CO2_EMISSIONS_PER_COUNTRY'].diff()[1:])
print("ADF test for TARGET_2_VALUE_CO2_EMISSIONS_PER_COUNTRY:\n")
print(f"\t1. ADF Statistic: {ad_fuller_CO2[0]}")
print(f'\t2. P-value: {ad_fuller_CO2[1]}\n')

Now, we can see that the series are stationary for the energy consumption.

Another aspect to have in mind is to check if the series are correlating to each other. To check this information, we are going to make use of the granger Casualty test. The test works like this:

*"The data for testing whether the time series in the second column Granger causes the time series in the first column. (Missing values are not supported that is why we cleaned the data frame)".*

Source:

    a. https://www.machinelearningplus.com/time-series/granger-causality-test-in-python/
    b. https://www.statsmodels.org/dev/generated/statsmodels.tsa.stattools.grangercausalitytests.html

To interpret the test, we should take a look at he P values given. It should be again, less than 0.05

In [ ]:
# PRINTING ENERGY VS CO2:
print("Energy consumption causes Carbon emissions:\n")
grangerEnergy_Co2 = grangercausalitytests(filter_df[['TARGET_1_PRIMARY_ENERGY_CONSUMPTION_PER_CAPITA_(KWH/PERSON)', 
                                                    'TARGET_2_VALUE_CO2_EMISSIONS_PER_COUNTRY']], maxlag=5)

In [ ]:
# PRINTING CO2 VS ENERGY:
print("Carbon emissions causes Energy consumption:\n")
grangerCo2_Energy = grangercausalitytests(filter_df[['TARGET_2_VALUE_CO2_EMISSIONS_PER_COUNTRY',
                                                    'TARGET_1_PRIMARY_ENERGY_CONSUMPTION_PER_CAPITA_(KWH/PERSON)']], maxlag=5)

# SPLITTING THE DATA INTO TRAIN, AND TEST:

    1. We need to extract the column we are going to work with.
    2. Splitting the data (not ramdomizing it since it is a time series)

In [ ]:
final_df = filter_df[['Entity', 'TARGET_1_PRIMARY_ENERGY_CONSUMPTION_PER_CAPITA_(KWH/PERSON)', 
                                                    'TARGET_2_VALUE_CO2_EMISSIONS_PER_COUNTRY']]
final_df.head()

In [ ]:
final_df.shape

In [ ]:
# ENCODING THE TEXT TO BE ABLE TO TRAIN THE MODEL:

# final_df_encoded = final_df.copy() # Create a copy of the DataFrame
# final_df_encoded
# encoder = LabelEncoder() # Instantiate the LabelEncoder
# entity_encoded = encoder.fit_transform(final_df['Entity']) # Encode the 'Entity' column
# final_df_encoded['Entity_encoded'] = entity_encoded
# final_df_encoded.drop('Entity', axis = 1, inplace = True)
# final_df_encoded.head()

final_df_encoded = final_df[['TARGET_1_PRIMARY_ENERGY_CONSUMPTION_PER_CAPITA_(KWH/PERSON)', 
                             'TARGET_2_VALUE_CO2_EMISSIONS_PER_COUNTRY']]
final_df_encoded.head()

In [ ]:
final_df_encoded.index

In [ ]:
# SPLITTING THE DATA:
train_df = final_df_encoded[:-730]
test_df = final_df_encoded[-730:]                # 20% for testing

In [ ]:
train_df.shape, test_df.shape

# TRAINING THE MODEL:

In [ ]:
model = VAR(train_df.diff()[1:])
sorted_order = model.select_order(maxlags=20)
sorted_order.summary()

Minimum lags found at the 20th. That is the one we are going to be using in the model

In [ ]:
%%time
var_model = VARMAX(train_df, order=(1, 0), enforce_stationarity=True)
fitted_model = var_model.fit(disp=False)
fitted_model.summary()

# MAKING PREDICTIONS:

In [ ]:
n_forecast = 5
predict = fitted_model.get_prediction(start = len(train_df), end = len(train_df) + n_forecast)
predictions = predict.predicted_mean

In [ ]:
predictions.columns = [['TARGET_1_PRIMARY_ENERGY_CONSUMPTION_PER_CAPITA_(KWH/PERSON)',
       'TARGET_2_VALUE_CO2_EMISSIONS_PER_COUNTRY']]
predictions